## 파이썬 함수
- 201번 ~ 230번

In [ ]:
# 201번 def() : 긴코드 짧게 축약할 때, 마법의 모자, 함수 쓰고 그 자리에 값 남기기
def print_coin():
    print("비트코인")

In [ ]:
# 202번
print_coin()

비트코인

In [ ]:
# 203번 100번 출력 for,range 사용
#for 변수 in range(횟수):
#     반복할 코드
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
# 204번
def print_coins():
    for i in range(100):
      print("비트코인")

In [ ]:
# 205번 함수 정의한 후 출력해야 함
hello()
def hello():
    print("Hi")

NameError: ignored

In [ ]:
# 206번
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [ ]:
# 207번 print() 출력 이후 message() 정의된거 출력
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [ ]:
# 208번 message() 정의는 출력된게 아님 print() / message() 순서에 맞게 출력. 
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [ ]:
# 209번 message2 먼저 출력되고 message1 출력
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [ ]:
# 210번
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [ ]:
# 211번 순서대로 안녕,Hi가 나옴
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [ ]:
# 212번 a와b를 더한 값이 나옴
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [ ]:
# 213번 에러가 안 나는데..함수 호출할 때 하나의 파라미터 입력해야함(기억!)
def 함수(문자열) :
    print(문자열)

In [ ]:
# 214번 문자열과 숫자는 계산할 수 없다,
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)

TypeError: ignored

In [ ]:
# 215번
def print_with_smile (string):
    print( string + ":D" )
print_with_smile("안녕")

안녕:D

In [ ]:
# 216번
print_with_smile("안녕하세요")

안녕하세요:D

In [ ]:
# 217번
def print_upper_price(num):
    print (num * 1.3)

In [ ]:
# 218번
def print_sum (a,b):
    print (a + b)
print_sum( 3, 4 )

7

In [ ]:
# 219번
def print_arithmetic_operation( a , b ):
    print( a + b )
    print( a - b )
    print( a * b )
    print( a / b )
print_arithmetic_operation ( 3, 4 )

# print(a, "+", b, "=", a + b)
# print(a, "-", b, "=", a - b)
# print(a, "*", b, "=", a * b)
# print(a, "/", b, "=", a / b)

7
-1
12
0.75

In [ ]:
# 220번
def print_max ( a, b, c ):
    if a > b :
      if a > c:
        max = a
    elif b > c:
       max = b
    else :
       max = c 
    print(max)
print_max( 4, 8, 6 )

8

In [ ]:
# 221번 ★ 슬라이싱 사용 ★
def print_reverse(string):

    print(string[::-1])
print_reverse("python")

nohtyp

In [ ]:
# 222번 [] 리스트 
def print_score( score ):
    print(sum(score)/len(score) )
print_score([1, 2, 3])

2.0

In [ ]:
# 223번
def print_even(list):
    for i in list:
      if i % 2 == 0 :
        print(i)
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
# 224번 어려워ㅓ 
def print_keys(dic):
    for keys in dic.keys():
        print(keys)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [ ]:
# 225번 어려워ㅓ2
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key(my_dict, key):
      print(my_dict[key])
      
print_value_by_key ( my_dict, "10/26" )

[100, 130, 100, 100]

In [ ]:
# 226번 오...넘 어렵다
def print_5xn(string):
    line = int(len(string) / 5)
    for i in range(line + 1):
      print(string[ i * 5: i * 5 + 5])
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
# 227번
def print_mxn(string, num):
    line = int(len(string) /  num)
    for i in range(line + 1):
        print(string[i * num : i * num + num])
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [ ]:
# 228번
def calc_monthly_salary(annual_pay) :
    monthly_pay = int(annual_pay / 12)
    return monthly_pay
calc_monthly_salary(12000000)

1000000

In [ ]:
# 229번
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [ ]:
# 230번 b가 먼저 지정되더라도 순서대로 출력 
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [1]:
# 231번 함수 내부에서 계산한 값 전달하려면 return 사용해야함
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

NameError: ignored

In [4]:
# 232번
def make_url(string) :
    url = "www." + string + ".com"
    return url   
    
make_url("naver")

'www.naver.com'

In [10]:
# 233번 ★ 문자열 list로 변환 ★
def make_list (word) :
    return list(word)
make_list("abcd")

['a', 'b', 'c', 'd']

In [21]:
# 234번 result.append(i) 리스트 끝에 i 값을 추가하는 함수
def pickup_even(list):
    result = []
    for i in list:
        if i % 2 == 0:
            result.append(i)
    return result
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [25]:
# 235번 ,를 ' '으로 바꾼 후 string → int 변환
def convert_int(string):
    return int(string.replace(',',''))
convert_int("1,234,567")

1234567

In [26]:
# 236번 차례대로 더하면 됨 
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [27]:
# 237번
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [28]:
# 238번 
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [29]:
# 239번
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [30]:
# 240번
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

## 파이썬 모듈
(프로그램 구현에 필요한 모듈 기초 사용법)
- 241번 ~ 250번

In [31]:
# 241번
import datetime

now = datetime.datetime.now()
print(now)

2022-05-28 05:40:20.267524

In [32]:
# 242번
import datetime
now = datetime.datetime.now()
print(now, type(now))

2022-05-28 05:41:41.771442 <class 'datetime.datetime'>

In [34]:
# 243번 어려움
import datetime 
now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days = day)
    date = now - delta
    print(date)

2022-05-23 05:47:38.656464
2022-05-24 05:47:38.656464
2022-05-25 05:47:38.656464
2022-05-26 05:47:38.656464
2022-05-27 05:47:38.656464

In [35]:
# 244번
import datetime

now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

05:50:07

In [39]:
# 245번

import datetime

#day = "2020-05-04"
#time = datetime.datetime.strptime(day, "%Y-%m-%d")
#print(time, type(time))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [40]:
# 246번
import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2022-05-28 05:59:10.034277
2022-05-28 05:59:11.036949
2022-05-28 05:59:12.038187
2022-05-28 05:59:13.039509
2022-05-28 05:59:14.040769
2022-05-28 05:59:15.042011
2022-05-28 05:59:16.043282
2022-05-28 05:59:17.044639
2022-05-28 05:59:18.045925
2022-05-28 05:59:19.047256
2022-05-28 05:59:20.048561

KeyboardInterrupt: ignored

In [ ]:
# 247번
# 구조1. import 모듈명                                          ex) import math
# 구조2. from 모듈명 import 함수명 [모듈 중 함수 지정하여 포함] ex) from math import sqrt 
# 구조3. from 모둘명 import *  [모든 함수 포함할 때]            ex) from math import *
# 구조4. import 모둘명 as 사용할 이름 [줄임말/ 이름 다른거 사용]ex) import math as m

In [43]:
# 248번
import os
x = os.getcwd()
print(x, type(x))

/content <class 'str'>

In [47]:
# 249번 패스

In [48]:
# 250번
import numpy
for i in numpy.arange(0, 5, 0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9