<a href="https://colab.research.google.com/github/jemjemster/python-basic/blob/main/python300-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  1.파이썬 시작하기

In [ ]:
#1번 
print("Hello World")

Hello World

In [ ]:
#2번
print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
#3번
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
#4번
print("C:＼Windows")

C:＼Windows

In [ ]:
#5번 \n은 줄바꿈,\t는 탭
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
#6번 여러 값 출력하려면 print함수에서 쉼표로 구분 
print("오늘은","일요일")

오늘은 일요일

In [ ]:
#7번 sep함수 사용 : 출력문들 사이 해당하는 내용 입력 가능
#print("naver", "kakao", "samsung", sep=";") -> 공백 대신 ;
print("naver;","kakao;","samsung")

naver; kakao; samsung

In [ ]:
#8번
#print("naver", "kakao", "samsung", sep="/") -> 공백 대신 /
print("naver/","kakao/","sk/","samsung")

naver/ kakao/ sk/ samsung

In [ ]:
#9번 end함수 -> 출력값과 이어서 출력(줄바꿈 X), 
# end='' 무언가 입력하게 되면 sep함수처럼 문장에 추가됨. 
print("first" ,end="");print("second")

firstsecond

In [ ]:
#10번
print(5/3)

1.6666666666666667

# 2.파이썬 변수

In [ ]:
#11번
삼성전자 = 50000
총평가금액 = 50000 * 10
print(총평가금액)

500000

In [ ]:
#12번 
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액,type(시가총액))
print(현재가,type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
#13번
s = "hello"
t = "python"
print(s + '!', t)

hello! python

In [ ]:
#14번
print(2 + 2 * 3)

8

In [ ]:
#15번
#a = 128
#print(type(a))
a = "132" #숫자여도 " "안에 들어가있으면 문자열이다.
print(type(a))

<class 'str'>

In [ ]:
#16번
num_str = "720"
num_int = int(num_str) # 정수형 변환
print(num_int, type(num_int))

720 <class 'int'>

In [ ]:
#17번
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [ ]:
#18번
#data = "15.79"
#data = float(data)
#print(data, type(data)) 최대한 간단하게

str = "15.79"
str_float = float(str)
print(str_float, type(str_float))

15.79 <class 'float'>

In [ ]:
#19번
year = "2020"
year_int = int(year) #생략 가능 
print(int(year) - 3)
print(int(year) - 2)
print(int(year) - 1)

2017
2018
2019

In [ ]:
#20번
# 월 = 48584
# 총금액 = 월 * 36
# print(총금액)
에어컨 = 48584 * 36  
print("총금액" + "\t=",에어컨 )

총금액	= 1749024

# 3.파이썬 문자열

In [ ]:
#21번
letters = 'python'
print(letters[0],letters[2])

p t

In [ ]:
#22번
num = "24가 2210"
print(num[-4:])

2210

In [ ]:
#23번
string = "홀짝홀짝홀짝"
print(string[::2]) #2칸씩 넘어간다.

홀홀홀

In [ ]:
#24번
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
#25번
num = "010-1111-2222"
num1 = num.replace("-", " ") # " " 좀만 띄면 된다.
print(num1)

010 1111 2222

In [ ]:
#26번
num = "010-1111-2222"
num1 = num.replace("-", "") # "" 붙이면 된다.
print(num1)

01011112222

In [ ]:
#27번
url = "http://sharebook.kr"
#print(url[-2:])
url_split = url.split('.')
print(url_split[-1])

kr

In [ ]:
#28번 문자열은 수정할 수 없다. 문자열이 할당(assignment)매서즈 지원 안함
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: ignored

In [ ]:
#29번
string = 'abcdfe2a354a32a'
string = string.replace('a','A') #문자열 바꾸기
print(string)

Abcdfe2A354A32A

In [ ]:
#30번 문자열은 변경할 수 없다.
string = 'abcd'
string.replace('b','B')
print(string)

abcd

# 3-1 31번 ~ 40번

In [ ]:
#31번 덧셈은 문자열의 연결
a = "3"
b = "4"
print(a+b)

34

In [ ]:
#32번 Hi 3번 반복
print("Hi" * 3)

HiHiHi

In [ ]:
#33번
print("-" * 80)

--------------------------------------------------------------------------------

In [ ]:
#34번
t1 = 'python'
t2 = 'java'
print( (t1 + t2) * 4)

pythonjavapythonjavapythonjavapythonjava

In [ ]:
#35번
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#36번
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1)) #format 타입과 상관없이 값 출력될 위치에 {} 적어주면 됨
print("이름: {} 나이: {}".format(name2, age2))

In [ ]:
#37번
name1 = "김민수"
age1 = 10
name2 = "이철희"
age = 13
print(f"이름: {name1} 나이: {age1}") #f-string {변수}형태로 문자열 사이에 타입 상관없이 입력 가능
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#38번
상장주식수 = "5,969,782,550"
제거 = 상장주식수.replace(",","")
변환 = int(제거)
print(변환, type(변환))

5969782550 <class 'int'>

In [ ]:
#39번
분기 = "2020/03(E)  (IFRS연결)"
print(분기[:7])

2020/03

In [ ]:
#40번
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

# 3-2 41번 ~ 50번

In [ ]:
#41번
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [ ]:
#42번
ticker = "BTC_KRW"
ticker1 = ticker.lower()
print(ticker1)

btc_krw

In [ ]:
#43번 capitalize() - 첫글자만 대문자로 변환
a = "hello"
a = a.capitalize()
print(a)

Hello

In [ ]:
#44번
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [ ]:
#45번
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [ ]:
#46번
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
#47번
a = "hello world"
a.split()

['hello', 'world']

In [ ]:
#48번
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [ ]:
#49번
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [ ]:
#50번
data = "039490     "
data1 = data.rstrip()
print(data1)

039490