## 파이썬 클래스 
- 251번 ~ 290번

In [ ]:
# 251번
# 클래스 : 데이터 유형 나타내는 데이터       ex) int,float,str 데이터 유형 → 클래스
# 객체 : 메모리에 존재하는 개별 데이터       ex) 유형은 type(),정체성은 id()로 구할 수 있음
# 인스턴스 : 어떤 클래스에 속한 객체(이 객체를 클래스의 인스턴스라 부름)

# 붕어빵 틀(클래스), 붕어빵(인스턴스) → 인스턴스 = 객체 / 클래스에 의해 만들어진 객체가 인스턴스

In [ ]:
# 252번
class Human:
    pass

In [ ]:
# 253번
class Human:
    pass

areum = Human()

In [ ]:
# 254번
class Human:
   def __init__(self):
      print("흐하하")

areum = Human()

흐하하

In [ ]:
# 255번
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("김장꾸", 25, "남자")
print(areum.name)

김장꾸

In [ ]:
# 256번
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("잼미니", 23, "여자")
print(areum.age)

23

In [ ]:
# 257번
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex)) 

areum = Human("잼민이", 22, "남자")
areum.who()

이름: 잼민이 나이: 22 성별: 남자

In [ ]:
# 258번
class Human:
   def __init__(self, name, age, sex):
       self.name = name
       self.age = age
       self.sex = sex

   def who(self):
       print("이름: {} 나이: {} 성별: {}".format(self.name, self.age,self.sex))

   def setinfo(self, name, age, sex):
       self.name = name
       self.age = age
       self.sex = sex

areum = Human("김장꾸", "25", "남자")
areum.who()

areum.setinfo("쨈미니", 25, "여자")
areum.who()

이름: 김장꾸 나이: 25 성별: 남자
이름: 쨈미니 나이: 25 성별: 여자

In [ ]:
# 259번
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def __del__(self):
        print("나의 죽음을 알리지마라")

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setinfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("이순신",100,"남자")
del(areum)

나의 죽음을 알리지마라

In [ ]:
# 260번 
class OMG :
    def print() :
        print("Oh my god")


mystock = OMG()
mystock.print()  # → OMG.print(mystock)로 변환됨. def print()엔 인자가 없는데 mystock가 넘어와서!

TypeError: ignored

In [ ]:
# 261번
class stock:
   pass

In [ ]:
# 262번
class stock:
   def __init__(self, name, code):
       self.name = name
       self.code = code

삼성 = stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [ ]:
# 263번
class stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
         
    def set_name(self, name):
        self.name = name

a = stock(None, None)
a.set_name("삼성전자")
print(a.name)

삼성전자

In [ ]:
# 264번
class stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    
    def  set_name(self, name):
         self.name = name

    def set_code(self, code):
         self.code = code     

a = stock(None, None)
a.set_code("005930")
print(a.code)

005930

In [ ]:
# 265번
class stock:
    def __init__(self, name, code):
      self.name = name
      self.code = code
   
    def set_name(self, name):
      self.name = name

    def set_code(self, code):
       self.code = code

    def get_name(self):
       return self.name

    def get_code(self):
       return self.code

삼성 = stock("삼성전자","005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [ ]:
# 266번 
class stock:
   def __init__(self, name, code, per, pbr, 배당수익률):
       self.name = name
       self.code = code
       self.per = per
       self.pbr = pbr
       self.배당수익률 = 배당수익률

   def set_name(self, name):
       self.name = name

   def set_code(self, code):
       self.code = code

   def get_name(self):
       return self.name

   def get_code(self):
       return self.code

In [ ]:
# 267번
삼성 = stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성.배당수익률)

2.83

In [1]:
# 268번
class stock:
   def __init__(self, name, code, per, pbr, dividend):
       self.name = name
       self.code = code
       self.per = per
       self.pbr = pbr
       self.dividend = dividend

   def set_name(self, name):
       self.name = name

   def set_code(self, code):
       self.code = code

   def get_name(self):
       return self.name 

   def get_code(self):
       return self.code

   def set_per(self, per):
       self.per = per

   def set_pbr(self, pbr):
       self.pbr = pbr

   def set_dividend(self, dividend):
       self.dividend = dividend

In [2]:
# 269번
삼성 = stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성.set_per(12.75)
print(삼성.per)

12.75

In [4]:
# 270번
종목 = []

삼성 = stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = stock("LG전자", "066570", 317.34, 0.69, 1.37)

종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)

for i in 종목:
    print(i.code, i.per)

005930 15.79
005380 8.7
066570 317.34

In [ ]:
# 271번 zfill() - string 앞에 0 채우는 함수
import random

class account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "카카오뱅크"
        num1 = random.randint(0, 999)    # 3자리
        num2 = random.randint(0, 99)     # 2자리
        num3 = random.randint(0, 999999) # 6자리


        num1 = str(num1).zfill(3)  # 1 → 001  
        num2 = str(num2).zfill(2)  # 1 → 01
        num3 = str(num3).zfill(6)  # 1 → 000001
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

kim = account("김잼민",100)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김잼민
100
카카오뱅크
488-89-539951

In [ ]:
# 272번
import random

class account:
   account_count = 0  # class variable : 클래스 내부에 선언된 변수 

   def __init__(self, name, balance):
       self.name = name
       self.balance = balance
       self.bank = "카카오뱅크"

       num1 = random.randint(0, 999)
       num2 = random.randint(0, 99)
       num3 = random.randint(0, 999999)

       num1 = str(num1).zfill(3)
       num2 = str(num2).zfill(2)
       num3 = str(num3).zfill(6)
       self.account_number = num1 + '-' + num2 + '-' + num3 + '-'

       account.account_count += 1 # 계좌가 만들어질 때 1씩 증가

kim = account("김잼민", 100)
print(account.account_count)
lee = account("이잼민", 100)
print(account.account_count)

In [ ]:
# 273번
import random

class account:
   account_count = 0  # class variable : 클래스 내부에 선언된 변수 

   def __init__(self, name, balance):
       self.name = name
       self.balance = balance
       self.bank = "카카오뱅크"

       num1 = random.randint(0, 999)
       num2 = random.randint(0, 99)
       num3 = random.randint(0, 999999)

       num1 = str(num1).zfill(3)
       num2 = str(num2).zfill(2)
       num3 = str(num3).zfill(6)
       self.account_number = num1 + '-' + num2 + '-' + num3 

       account.account_count += 1 # 계좌가 만들어질 때 1씩 증가

   def get_account_num(cls):
       print(cls.account_count)
kim = account("김잼민",100)
lee = account("이잼민",100)
kim.get_account_num()

2

In [ ]:
# 274번
import random

class account:
   account_count = 0  # class variable : 클래스 내부에 선언된 변수 

   def __init__(self, name, balance):
       self.name = name
       self.balance = balance
       self.bank = "카카오뱅크"

       num1 = random.randint(0, 999)
       num2 = random.randint(0, 99)
       num3 = random.randint(0, 999999)

       num1 = str(num1).zfill(3)
       num2 = str(num2).zfill(2)
       num3 = str(num3).zfill(6)
       self.account_number = num1 + '-' + num2 + '-' + num3 

       account.account_count += 1 # 계좌가 만들어질 때 1씩 증가

   @classmethod # 해당메서드가 클래스 메서드임을 표시/ 클래스 변수 엑세스할 때 사용
   def get_account_num(cls):
       print(cls.account_count)

   def deposit(self, amount): # 입금을 위한 메서드
       if amount >= 1:
            self.balance += amount

In [ ]:
# 275번
import random

class account:
   account_count = 0   

   def __init__(self, name, balance):
       self.name = name
       self.balance = balance
       self.bank = "카카오뱅크"

       num1 = random.randint(0, 999)
       num2 = random.randint(0, 99)
       num3 = random.randint(0, 999999)

       num1 = str(num1).zfill(3)
       num2 = str(num2).zfill(2)
       num3 = str(num3).zfill(6)
       self.account_number = num1 + '-' + num2 + '-' + num3 

       account.account_count += 1 

   @classmethod
   def get_account_num(cls):
       print(cls.account_count)

   def deposit(self, amount):
       if amount >= 1:
            self.balance += amount   

   def withdraw(self, amount): # 출금을 위한 메서드
       if self.balance > amount:
           self.balance -= amount

k = account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.balance)

110

In [ ]:
# 276번
import random

class account:
   account_count = 0   

   def __init__(self, name, balance):
       self.name = name
       self.balance = balance
       self.bank = "카카오뱅크"

       num1 = random.randint(0, 999)
       num2 = random.randint(0, 99)
       num3 = random.randint(0, 999999)

       num1 = str(num1).zfill(3)
       num2 = str(num2).zfill(2)
       num3 = str(num3).zfill(6)
       self.account_number = num1 + '-' + num2 + '-' + num3 

       account.account_count += 1 

   @classmethod
   def get_account_num(cls):
       print(cls.account_count)

   def deposit(self, amount):
       if amount >= 1:
            self.balance += amount   

   def withdraw(self, amount):
       if self.balance > amount:
           self.balance -= amount

   def display_info(self): # 저장된 정보 출력하는 메서드
       print("은행이름: ", self.bank)
       print("예금주: ", self.name)
       print("계좌번호: ", self.account_number)
       print("잔고: ", self.balance)

p = account("햄찌", 10000)
p.display_info()

은행이름:  카카오뱅크
예금주:  햄찌
계좌번호:  647-11-278628
잔고:  10000

In [ ]:
# 277번
import random

class account:
   account_count = 0   

   def __init__(self, name, balance):
       self.deposit_count = 0
      
       self.name = name
       self.balance = balance
       self.bank = "카카오뱅크"

       num1 = random.randint(0, 999)
       num2 = random.randint(0, 99)
       num3 = random.randint(0, 999999)

       num1 = str(num1).zfill(3)
       num2 = str(num2).zfill(2)
       num3 = str(num3).zfill(6)
       self.account_number = num1 + '-' + num2 + '-' + num3 

       account.account_count += 1 

   @classmethod
   def get_account_num(cls):
       print(cls.account_count)

   def deposit(self, amount):
       if amount >= 1:
            self.balance += amount   

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:
               self.balance = (self.balance * 1.01)

   def withdraw(self, amount):
       if self.balance > amount:
           self.balance -= amount

   def display_info(self): # 저장된 정보 출력하는 메서드
       print("은행이름: ", self.bank)
       print("예금주: ", self.name)
       print("계좌번호: ", self.account_number)
       print("잔고: ", self.balance)

p = account("햄찌", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
p.deposit(10000)
print(p.balance)

50500.0

In [ ]:
# 278번
import random

class account:
   account_count = 0   

   def __init__(self, name, balance):
       self.deposit_count = 0
      
       self.name = name
       self.balance = balance
       self.bank = "카카오뱅크"

       num1 = random.randint(0, 999)
       num2 = random.randint(0, 99)
       num3 = random.randint(0, 999999)

       num1 = str(num1).zfill(3)
       num2 = str(num2).zfill(2)
       num3 = str(num3).zfill(6)
       self.account_number = num1 + '-' + num2 + '-' + num3 

       account.account_count += 1 

   @classmethod
   def get_account_num(cls):
       print(cls.account_count)

   def deposit(self, amount):
       if amount >= 1:
            self.balance += amount   

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:
               self.balance = (self.balance * 1.01)

   def withdraw(self, amount):
       if self.balance > amount:
           self.balance -= amount

   def display_info(self): # 저장된 정보 출력하는 메서드
       print("은행이름: ", self.bank)
       print("예금주: ", self.name)
       print("계좌번호: ", self.account_number)
       print("잔고: ", self.balance)

data = []
k = account("kim", 1000000)
l = account("lee", 10000)
p = account("park", 10000)

data.append(k)
data.append(l)
data.append(p)

print(data)

[<__main__.account object at 0x7f35a42fd050>, <__main__.account object at 0x7f35a42fded0>, <__main__.account object at 0x7f35a42fdbd0>]

In [ ]:
# 279번
import random

class account:
   account_count = 0   

   def __init__(self, name, balance):
       self.deposit_count = 0
      
       self.name = name
       self.balance = balance
       self.bank = "카카오뱅크"

       num1 = random.randint(0, 999)
       num2 = random.randint(0, 99)
       num3 = random.randint(0, 999999)

       num1 = str(num1).zfill(3)
       num2 = str(num2).zfill(2)
       num3 = str(num3).zfill(6)
       self.account_number = num1 + '-' + num2 + '-' + num3 

       account.account_count += 1 

   @classmethod
   def get_account_num(cls):
       print(cls.account_count)

   def deposit(self, amount):
       if amount >= 1:
            self.balance += amount   

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:
               self.balance = (self.balance * 1.01)

   def withdraw(self, amount):
       if self.balance > amount:
           self.balance -= amount

   def display_info(self): # 저장된 정보 출력하는 메서드
       print("은행이름: ", self.bank)
       print("예금주: ", self.name)
       print("계좌번호: ", self.account_number)
       print("잔고: ", self.balance)

data = []
k = account("kim", 1000000)
l = account("lee", 10000)
p = account("park", 10000)

data.append(k)
data.append(l)
data.append(p)

for i in data:
    if i.balance >= 1000000:
       i.display_info()

은행이름:  카카오뱅크
예금주:  kim
계좌번호:  698-84-812922
잔고:  1000000

In [ ]:
# 280번
import random

class account:
   account_count = 0   

   def __init__(self, name, balance):
       self.deposit_count = 0
       self.deposit_log = []
       self.withdraw_log = []      


       self.name = name
       self.balance = balance
       self.bank = "카카오뱅크"

       num1 = random.randint(0, 999)
       num2 = random.randint(0, 99)
       num3 = random.randint(0, 999999)

       num1 = str(num1).zfill(3)
       num2 = str(num2).zfill(2)
       num3 = str(num3).zfill(6)
       self.account_number = num1 + '-' + num2 + '-' + num3 

       account.account_count += 1 

   @classmethod
   def get_account_num(cls):
       print(cls.account_count)

   def deposit(self, amount):
       if amount >= 1:
            self.balance += amount   

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:
               self.balance = (self.balance * 1.01)

   def withdraw(self, amount):
       if self.balance > amount:
           self.balance -= amount

   def display_info(self): # 저장된 정보 출력하는 메서드
       print("은행이름: ", self.bank)
       print("예금주: ", self.name)
       print("계좌번호: ", self.account_number)
       print("잔고: ", self.balance)

   def withdraw_history(self):
       for amount in self.withdraw_log:
           print(amount)

   def deposit_history(self):
       for amount in self.deposit_log:
           print(amount)

k = account("kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

In [ ]:
# 281번
class 차:
   def __init__(self, 바퀴, 가격):
       self.바퀴 = 바퀴
       self.가격 = 가격

car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

In [ ]:
# 282번
class 차:
   def __init__(self, 바퀴, 가격):
       self.바퀴 = 바퀴
       self.가격 = 가격

class 자전차(차):
    pass

In [ ]:
# 283번 자전차 클래스 → 차 클래스 상속
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차):
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

bicycle = 자전차(2, 100)
print(bicycle.가격)

100

In [ ]:
# 284번 super().__init__() 다른 클래스의 속성 및 메소드를 자동으로 불러와 사용
class 차:
   def __init__(self, 바퀴, 가격):
       self.바퀴 = 바퀴
       self.가격 = 가격

class 자전차(차):
   def __init__(self, 바퀴, 가격, 구동계):
      super().__init__(바퀴, 가격)  
      self.구동계 = 구동계

bicycle = 자전차(2, 100, "삼천리")
print(bicycle.구동계)
print(bicycle.바퀴)

삼천리
2

In [ ]:
# 285번
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)


car = 자동차(4, 1000)
car.정보()

바퀴수  4
가격  1000

In [ ]:
# 286번
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

bicycle = 자전차(2, 100, "삼천리")
bicycle.정보()

바퀴수  2
가격  100

In [ ]:
# 287번
class 차:
   def __init__(self, 바퀴, 가격):
       self.바퀴 = 바퀴
       self.가격 = 가격
   
   def 정보(self):
       print("바퀴수", self.바퀴)
       print("가격", self.가격)

class 자동차(차):
   def __init__(self, 바퀴):       
       super().__init__(바퀴, 가격)

class 자전차(차):
   def __init__(self, 바퀴, 가격, 구동계):
       super().__init__(바퀴, 가격)
       self.구동계 = 구동계

   def 정보(self):
       super().정보()
       print("구동계", self.구동계)

bicycle = 자전차(2, 100, "삼천리")
bicycle.정보()

바퀴수 2
가격 100
구동계 삼천리

In [ ]:
# 288번
class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")

나 = 자식()
나.호출()

자식호출

In [ ]:
# 289번
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")

나 = 자식()

자식생성

In [ ]:
# 290번
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()

나 = 자식()

자식생성
부모생성

## 파이썬 예외처리
- 296번 ~ 300번

In [ ]:
# (291번~295번 코랩은 입출력 안된다고 함..)
# 296번 오류 처리 위한 try, except문 ⟶ try 블록 수행 중 오류 발생시 except 블록 수행 / 오류 안나면 실행 X
# try:
# except [발생 오류[as 오류 메세지 변수]]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [ ]:
# 297번
per = ["10.31", "", "8.00"]
new_per = [] # 리스트에 저장해야하니까 미리 만들어둔 것

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [ ]:
# 298번
try:
    b = 3 / 0

except ZeroDivisionError:
    print("0으로 나누면 에러가 납니다!")

0으로 나누면 에러가 납니다!

In [ ]:
# 299번
# try: 
#     실행코드
# except 예외 as 변수:
#     예외처리코드
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [ ]:
# 300번
per = ["10.31", "", "8.00"]

for i in per:
    try:                    # 실행 코드
        print(float(i))
    except:                 # 예외 발생시 수행할 코드
        print(0)
    else:                   # 예외가 발생하지 않았을 때 수행할 코드
        print("clean data")
    finally:                # 예외 발생 여부와 상관없이 항상 수행할 코드 
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료