## 반복문 
- 151번 ~ 200번

In [ ]:
# 151번
리스트 = [3, -20, -3, 44]
for 숫자 in 리스트:
  if 숫자 < 0:
    print(숫자)

-20
-3

In [ ]:
# 152번
리스트 = [3, 100, 23, 44]
for 숫자 in 리스트:
  if 숫자 % 3 == 0:
    print(숫자)

3

In [ ]:
# 153번
리스트 = [13, 21, 12, 14, 30, 18]
for 숫자 in 리스트:
  if 숫자 % 3 == 0 and (숫자 < 20):
    print(숫자)

12
18

In [ ]:
# 154번
리스트 = ["I", "study", "python", "language", "!"]
for 단어 in 리스트:
  if len(단어) >= 3:
    print(단어)

study
python
language

In [ ]:
# 155번 isupper = 해당 문자가 대문자인지 확인해주는 함수 
리스트 = ["A", "b", "c", "D"]
for 알파벳 in 리스트:
  if 알파벳.isupper():
    print(알파벳)

A
D

In [ ]:
# 156번
리스트 = ["A", "b", "c", "D"]
for 알파벳 in 리스트:
  if 알파벳.islower():
    print(알파벳)

b
c

In [ ]:
# 157번
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
  print(동물.upper())

DOG
CAT
PARROT

In [ ]:
# 158번
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 파일 in 리스트:
  print(파일.split('.')[0]) # 마침표 구분자 "." 문자열 분할, 0번 인덱스 파일 이름만 출력

hello
ex01
intro

In [ ]:
# 159번
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 파일 in 리스트:
  split = 파일.split(".")
  if split[1] == "h":
    print(파일)

intra.h
define.h

In [ ]:
# 160번
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 파일 in 리스트:
  split = 파일.split(".")
  if split[1] == "h" or split[1] == "c":
    print(파일)

intra.h
intra.c
define.h

In [ ]:
# 161번
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# 162번
for i in range(2002,2051,4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
# 163번
for i in range(1,31):
 if i % 3 == 0: 
  print(i)

#for num in range(3, 31, 3):
#    print (num)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# 164번
for i in range(99,0,-1):
  print(i)
# for i in range(100):
#    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
# 165번
for i in range(0,10):
 print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
# 166번
for i in range(1,10): 
    print(3, '*', i, '=', 3 * i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
# 167번
for i in range(1,10): 
  if i % 2 == 1:
    print(3, '*', i, '=', 3 * i)

3 * 1 = 3
3 * 3 = 9
3 * 5 = 15
3 * 7 = 21
3 * 9 = 27

In [ ]:
# 168번
x = 0
for y in range(1, 11):
    x = x + y
print ("합 :", x)

합 : 55

In [ ]:
# 169번
x = 0
for y in range(1,11,2):
    x = x + y
print("합 :", x)

합 : 25

In [ ]:
# 170번
x = 1
for y in range(1,11):
  x = x * y
print(x)

3628800

In [ ]:
# 171번
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
  print(price_list[i])

32100
32150
32000
32500

In [ ]:
# 172번 enumerate() = 기본적으로 인덱스와 원소로 이루어진 튜플(tuple) 만들어줌.
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173번
price_list = [32100, 32150, 32000, 32500]
for i, data in list(enumerate(price_list)):
    print(3 - i, data)

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174번
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + 10 * i, price_list[i] )

100 32150
110 32000
120 32500

In [ ]:
# 175번
my_list = ["가", "나", "다", "라"]
for i in [0, 1, 2]:
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [ ]:
# 176번
my_list = ["가", "나", "다", "라", "마"]
for i in[0, 1, 2]:
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
# 177번
my_list = ["가", "나", "다", "라"]
for i in[0, -1, -2]:
    print(my_list[i-1], my_list[i-2])

라 다
다 나
나 가

In [ ]:
# 178번
my_list = [100, 200, 400, 800]
for i in[0, 1, 2]:
    print(my_list[i+1] - my_list[i])

100
200
400

In [ ]:
# 179번
my_list = [100, 200, 400, 800, 1000, 1300]
for i in[0, 1, 2, 3]:
    print((my_list[i] + my_list[i+1] + my_list[i+2]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
# 180번 len()은 리스트에 들어있는 원소 개수, append()는 리스트에 값을 추가하는 함수
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
#for i in[0, 1, 2, 3, 4]:
#    volatility = high_prices[i] - low_prices[i]
#    print(volatility)

volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
    print(volatility)

[50]
[50, 100]
[50, 100, 30]
[50, 100, 30, 80]
[50, 100, 30, 80, 0]

In [ ]:
# 181번 2차원 리스트 = 리스트 안에 리스트가 들어간 것
apart = [["101호", "201호"], ["301호","102호"], ["202호", "302호"]]
print(apart)

[['101호', '201호'], ['301호', '102호'], ['202호', '302호']]

In [ ]:
# 182번
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [ ]:
# 183번
stock = {"시가" : [100, 200, 300]}, {"종가" : [ 80, 210, 330]}
print(stock)

({'시가': [100, 200, 300]}, {'종가': [80, 210, 330]})

In [ ]:
# 184번
stock = {"10/10" : [80, 100, 70, 90], "10/11" : [210, 230, 190, 200]}
print(stock)

{'10/10': [80, 100, 70, 90], '10/11': [210, 230, 190, 200]}

In [ ]:
# 185번 첫번째 for문 [101, 102] 이런식, 두번째 for문 101, 102 이런식
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print( col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
# 186번
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
# 187번
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print( col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 188번
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print( col, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
# 189번
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print( col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
# 190번
apart = [ [101, 102], [201, 202], [301, 302] ]
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print( col, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [ ]:
# 191번
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for num in i:
        print(num * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [ ]:
# 192번
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for num in i:
        print(num * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
# 193번
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for line in data:
    for col in line:
        result.append(col * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
# 194번
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
# 195번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [ ]:
# 196번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
 if row[3] > 150:
    print(row[3])

190
310

In [ ]:
# 197번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
 if row[3] >= row[0]:
    print(row[3])

100
310

In [ ]:
# 198번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])
    print(volatility)

[40]
[40, 30]
[40, 30, 10]

In [ ]:
# 199번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [ ]:
# 200번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])     
    print(profit)

0
-10
0