## 분기문 
- 101번 ~ 130번

In [ ]:
#101번
# bool 타입

In [ ]:
#102번 
print( 3 == 5 )

False

In [ ]:
#103번 
print(3 < 5)

True

In [ ]:
#104번 
x = 4
print(1 < x < 5)

True

In [ ]:
#105번 
print ((3 == 3) and (4 != 3))

True

In [ ]:
#106번 
print(3 => 4) 
# x >= y , x <= y 연산자만 가능

SyntaxError: ignored

In [ ]:
#107번 
if 4 < 3:
    print("Hello World")    
# 조건 만족이 안되기때문에 출력이 안된다.

In [ ]:
#108번 
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
# 4 < 3 이 미성립되므로 Hi, there이 출력된다.

In [ ]:
#109번 
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
#110번
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [ ]:
#111번
user = input("입력:")
print(user * 2)

입력:2
22

In [ ]:
#112번
user = input("숫자를 입력하세요:")
print(int(user) + 10 )

숫자를 입력하세요:10
20

In [ ]:
#113번
user = input("")
if int(user) % 2 == 0:
  print("짝수")
else:
  print("홀수")

5
홀수

In [ ]:
#114번
user = input("입력값: ")
num = 20 + int(user)

if num > 255:
  print("출력값:",255)
else:
  print("출력값:",num)

입력값: 230
출력값: 250

In [ ]:
#115번
user = input("입력값: ")
num = int(user) - 20

if num < 0:
  print("출력값:",0)

elif num > 255:
  print("출력값:",255)

else:
  print("출력값:", num)

입력값: 25
출력값: 5

In [ ]:
#116번 
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 12:00
정각 입니다.

In [ ]:
#117번
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")

if user in fruit:
  print("정답입니다.")
else:
  print("오답입니다.")

좋아하는 과일은?수박
오답입니다.

In [ ]:
#118번
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("종목명:")

if user in warn_investment_list:
  print("투자 경고 종목입니다.")
else:
  print("투자 경고 종목이 아닙니다.")

종목명:Naver
투자 경고 종목입니다.

In [ ]:
#119번
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가 좋아하는 계절은:" )
if user in fruit.keys():
  print("정답입니다.")
else:
  print("오답입니다.")

제가 좋아하는 계절은:가을
정답입니다.

In [ ]:
#120번
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")

if user in fruit.values():
  print("정답입니다.")
else:
   print("오답입니다.")

좋아하는 과일은?수박
오답입니다.

In [ ]:
#121번
user = input("")

if user.islower():
  print(user.upper())
else:
  print(user.lower())

A
a

In [ ]:
#122번
user = input("score:" )

if 81 <= int(user) <= 100:
  print("grade is A")
elif 61 <= int(user) <= 80:
  print("grade is B")
elif 41 <= int(user) <= 60:
  print("grade is C")
elif 21 <= int(user) <= 40:
  print("grade is D")
else:
  print("grase is E")

score:99
grade is A

In [1]:
#123번 안됨

In [ ]:
#124번
num1 = input("input number1:" )
num2 = input("input number2:")
num3 = input("input number3:")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
  print(num1)
elif num2 >= num1 and num2 >= num3:
  print(num2)
else:
  print(num3)

input number1:2
input number2:4
input number3:6
6

In [ ]:
#125번
num = input("휴대전화 번호 입력: ")
num = num.split("-")[0]
if num == "011":
   tel = "SKT"
elif num == "016":
   tel = "KT"   
elif num == "019":
   tel = "LGU"
else:
   tel = "알수없음"
print(f"당신은 {tel} 사용자입니다.")

휴대전화 번호 입력: 011-2222-2222
당신은 SKT 사용자입니다.

In [ ]:
#126번
num = input("우편번호: ")
num = num[:3]

if num in ["010", "011", "012"]:
  print("강북구")
elif num in["014", "015", "016"]:
  print("도봉구")
else:
  print("노원구")

우편번호: 018
노원구

In [ ]:
#127번
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 821010-1635210
남자

In [ ]:
#128번
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 861010-1015210
서울입니다.

In [ ]:
#129번 어려움

In [ ]:
#130번 어려움

## 반복문
- 131번 ~ 150번

In [ ]:
#131번 리스트에 있는 목록 나온다.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
#132번 for문 핵심은 "들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다" 
# 과일이 3가지 종류이므로 #####이 3번 반복
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [3]:
#133번
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [4]:
#134번
print("출력:", "A")

출력: A
출력: B
출력: C

In [7]:
#135번
print("변환:", "A".lower())
print("변환:", "B".lower())
print("변환:", "C".lower())

변환: a
변환: b
변환: c

In [9]:
#136번
for 변수 in [ 10, 20, 30]:
  print(변수)

10
20
30

In [11]:
#137번
for 변수 in [ 10, 20, 30]:
  print(변수)

10
20
30

In [17]:
#138번
for 변수 in [ 10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [21]:
#139번
print("++++")
for 변수 in [ 10, 20, 30]: 
  print(변수)

++++
10
20
30

In [22]:
#140번 for문은 들여쓰기된 코드가 데이테 개수만큼 반복된다. 
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [23]:
#141번
for 리스트 in [100, 200, 300]:
  print(리스트 + 10)

110
210
310

In [24]:
#142번
for 리스트 in ["김밥", "라면", "튀김"]:
  print("오늘의 메뉴: ",리스트)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [29]:
#143번
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 주식 in 리스트 :
  print(len(주식))

6
4
4

In [30]:
#144번
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
  print(동물, len(리스트))

dog 3
cat 3
parrot 3

In [32]:
#145번
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
  print(동물[0])

d
c
p

In [35]:
#146번
리스트 = [1, 2, 3]
for 곱셈 in 리스트:
  print("3 x",곱셈)

3 x 1
3 x 2
3 x 3

In [39]:
#147번
리스트 = [1, 2, 3]
for 곱셈 in 리스트:
  print("3 x",곱셈,"=",3 * 곱셈)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [40]:
#148번
리스트 = ["가", "나", "다", "라"]
for 한글 in 리스트[1:]:
  print(한글)

나
다
라

In [41]:
#149번
리스트 = ["가", "나", "다", "라"]
for 한글 in 리스트[::2]:
  print(한글)

가
다

In [42]:
#150번 
리스트 = ["가", "나", "다", "라"]
for 한글 in 리스트[::-1]:
  print(한글)

라
다
나
가